<!-- Top navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <h1 class="text-danger"><b>Event-IT</b></h1>
    <div class="collapse navbar-collapse">     
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">
          <i class="btn btn-secondary" routerLink="../dashboard">Category</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="btn btn-secondary" routerLink="../packages">Packages</i>
        </a>
      </li>
    </ul>
  </div>
    <div class="collapse navbar-collapse">     
        <!-- Calling SignOut() Api from AuthService -->
      <ul class="navbar-nav ml-auto mr-0">
        <li class="nav-item">
          <a class="nav-link" (click)="authService.SignOut()">
            <i class="btn btn-outline-danger">Logout</i>
          </a>
        </li>
      </ul>
    </div>
</nav>
<br>
<br>
<!--cake options-->
<h1 class="text-center">Cake Options</h1>
<hr>
<!--cake cards-->
<h2 class="text-center"><b>For Boys</b></h2>
<div class="row justify-content-center"> 
  <div class="column">
   <div id="cake" class="card" style="width: 18rem;">
    <!--cake 1-->
    <img class="card-img-top" style="height: 20rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSEoC2N7MH7Qo-PPWjiRy3c2FBXgT4OPVq7NQ&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Bunny</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 2-->
      <img class="card-img-top" style="height: 20rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy8BdBJ4D-Vp8Dg3hbUn5wSF7n51OYydmiBA&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">SpiderMan</p>
         </div>
     </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 3-->
      <img class="card-img-top" style="height: 20rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRz07VswSumFX4Get3ZBav9EIoRSJNKjWcJ5Q&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Mikimouse</p>
         </div>
     </div>
  </div>
</div>
<br>
<!--2nd row of cake-->
<h2 class="text-center"><b>For Girls</b></h2>
<div class="row justify-content-center"> 
  <div class="column">
   <div id="cake" class="card" style="width: 18rem;">
    <!--cake 1-->
    <img class="card-img-top" style="height: 21rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRHotdkLwDU-9G0B2z6yma2KOSHwr-otXc0vA&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Horsey</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 2-->
      <img class="card-img-top" style="height: 21rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTNltg6fRedlxMqU5_7ilyfOYMxaxlJjb6fHQ&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">UniCorn</p>
         </div>
     </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 3-->
      <img class="card-img-top" style="height: 21rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRGUtxfIhCcubfF7so3yUbdkQ997PqX6I6lGg&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">MiniMouse</p>
         </div>
     </div>
  </div>
</div>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="badge badge-dark text-center">
  <h3>If you Want Customized Cake Contact Us at +91-123456789</h3>
</div>
<br>
<br>
<!--Food options-->
<h1 class="text-center">Food Options</h1>
<hr>
<!--food cards-->
<div class="row justify-content-center"> 
  <div class="column">
   <div class="card" style="width: 18rem; height: 15rem;">
    <!--food 1-->
    <img class="card-img-top" style="height: 10rem;" src="https://i.pinimg.com/originals/8b/92/55/8b925525f5e6c1fd4e2d13d704da7b64.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">cheese bite</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 2-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJpg_oo89dPgCHRf2Xhf8IozObNbLKq_sJNg&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Spicy Frenkie </p>
         </div>
     </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 3-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVob1WkHDKs9ZHoSXajfbi_PePfdxmEL-YtQ&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Curly Fries</p>
         </div>
     </div>
  </div>
</div>
<br>
<!--2nd row of food-->
<div class="row justify-content-center"> 
  <div class="column">
   <div class="card" style="width: 18rem; height: 15rem;">
    <!--food 1-->
    <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJbMpc4KxRenvZFyawmDAGEdrfs1QyQ1aEaw&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Pani-Puri</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 2-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTEivwXVrT3LYGqOjEhzM3uclj40tOssc_Rg&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Samosa</p>
         </div>
     </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 3-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKYCsB3G3zQcuQBzn8JSQSxZk2lQ78eZDAjA&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Pau Bhaji</p>
         </div>
     </div>
  </div>
</div>
<br>
<br>
<!--No. of people-->
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">   
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name of Cake you Want">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name of Food-Item you want">
        </div>  
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Number of People">
        </div>   
        <a routerLink="../golddesti" class="btn btn-primary">Select Destination</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>





  <!-- Footer -->
<footer class="page-footer font-small bg-dark ">

  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
              <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
              <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="../contact-us/"> Event-it.com</a>
  </div>
</footer>