<!-- Top navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <h1 class="text-danger"><b>Event-IT</b></h1>
    <div class="collapse navbar-collapse">     
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">
          <i class="btn btn-secondary" routerLink="../dashboard">Category</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="btn btn-secondary" routerLink="../packages">Packages</i>
        </a>
      </li>
    </ul>
  </div>
    <div class="collapse navbar-collapse">     
        <!-- Calling SignOut() Api from AuthService -->
      <ul class="navbar-nav ml-auto mr-0">
        <li class="nav-item">
          <a class="nav-link" (click)="authService.SignOut()">
            <i class="btn btn-outline-danger">Logout</i>
          </a>
        </li>
      </ul>
    </div>
</nav>
<br>
<br>
<!--cake options-->
<h1 class="text-center">Cake Options</h1>
<hr>
<!--cake cards-->
<h2 class="text-center"><b>For Boys</b></h2>
<div class="row justify-content-center"> 
  <div class="column">
   <div id="cake" class="card" style="width: 18rem;">
    <!--cake 1-->
    <img class="card-img-top" style="height: 20rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTr_tK61zd8qqdmX4gTknr_020JiuPrsVEjxw&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Minions</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 2-->
      <img class="card-img-top" style="height: 20rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTphy7rUaqpOFfTCxbEqrT8MX8LFhIap2GAzA&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Poo</p>
         </div>
     </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 3-->
      <img class="card-img-top" style="height: 20rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSDEfe_RFUbtPnuZBl977aBtFmTh7bh_KsXtg&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Superman</p>
         </div>
     </div>
  </div>
</div>
<br>
<!--2nd row of cake-->
<h2 class="text-center"><b>For Girls</b></h2>
<div class="row justify-content-center"> 
  <div class="column">
   <div id="cake" class="card" style="width: 18rem;">
    <!--cake 1-->
    <img class="card-img-top" style="height: 21rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrSoWZ_NWAeZW5yytokCI7wRecpDDqulaefw&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Mini-Mouse</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 2-->
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHjFTzgs3pPjp6SZQcBmdwXNPJWj5TDK-32Q&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Castel</p>
         </div>
     </div>
  </div>
  <div class="column">
    <div id="cake" class="card" style="width: 18rem;">
      <!--cake 3-->
      <img class="card-img-top" style="height: 21rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKDHLl90JfAf9W5GjltijUalNvihLYOMyl0w&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Wonder Woman</p>
         </div>
     </div>
  </div>
</div>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="badge badge-dark text-center">
  <h3>If you Want Customized Cake Contact Us at +91-123456789</h3>
</div>
<br>
<br>
<!--Food options-->
<h1 class="text-center">Food Options</h1>
<hr>
<!--food cards-->
<div class="row justify-content-center"> 
  <div class="column">
   <div class="card" style="width: 18rem; height: 15rem;">
    <!--food 1-->
    <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLeIc9kUfGvTarQOJPIjvLwOOtP5m9d15g3A&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">French Fries with Veg Burgers</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 2-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2ON690m6vqfC5MgpyP7ZLKOiBwW9KMYqc0Q&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Cheese Sandwiches</p>
         </div>
     </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 3-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTWzoSslNwAUR1dDTHhAuQco-G2PBo6dIMxbQ&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Momos</p>
         </div>
     </div>
  </div>
</div>
<br>
<!--2nd row of food-->
<div class="row justify-content-center"> 
  <div class="column">
   <div class="card" style="width: 18rem; height: 15rem;">
    <!--food 1-->
    <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRHvHooG4_1O_9QmDAfRcKlsBDKFhuMYZSlkA&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Veg Hot-Dog</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 2-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0GEP3yEV13urxyompN2a79xgOQR1pCZLNTw&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Veg Roll</p>
         </div>
     </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem; height: 15rem;">
      <!--food 3-->
      <img class="card-img-top" style="height: 10rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQbY7klYZ1qim3V5rMpkaS8F3ZAtXLWLNM7Og&usqp=CAU" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">Frenkie</p>
         </div>
     </div>
  </div>
</div>
<br>
<br>
<!--No. of people-->
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">   
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name of Cake you Want">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name of Food-Item you want">
        </div>  
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Number of People">
        </div>   
        <a routerLink="../kdestinationComponent" class="btn btn-primary">Select Destination</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>





  <!-- Footer -->
<footer class="page-footer font-small bg-dark ">

  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
              <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
              <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="../contact-us/"> Event-it.com</a>
  </div>
</footer>